/// Material Design Icons Map
/// @access public
$MD-Icons: (
        3d-rotation: "\e900",
        ac-unit: "\e901",
        alarm: "\e902",
        access-alarms: "\e903",
        schedule: "\e904",
        accessibility: "\e905",
        accessible: "\e906",
        account-balance: "\e907",
        account-balance-wallet: "\e908",
        account-box: "\e909",
        account-circle: "\e90a",
        adb: "\e90b",
        add: "\e90c",
        add-a-photo: "\e90d",
        alarm-add: "\e90e",
        add-alert: "\e90f",
        add-box: "\e910",
        add-circle: "\e911",
        control-point: "\e912",
        add-location: "\e913",
        add-shopping-cart: "\e914",
        queue: "\e915",
        add-to-queue: "\e916",
        adjust: "\e917",
        airline-seat-flat: "\e918",
        airline-seat-flat-angled: "\e919",
        airline-seat-individual-suite: "\e91a",
        airline-seat-legroom-extra: "\e91b",
        airline-seat-legroom-normal: "\e91c",
        airline-seat-legroom-reduced: "\e91d",
        airline-seat-recline-extra: "\e91e",
        airline-seat-recline-normal: "\e91f",
        flight: "\e920",
        airplanemode-inactive: "\e921",
        airplay: "\e922",
        airport-shuttle: "\e923",
        alarm-off: "\e924",
        alarm-on: "\e925",
        album: "\e926",
        all-inclusive: "\e927",
        all-out: "\e928",
        android: "\e929",
        announcement: "\e92a",
        apps: "\e92b",
        archive: "\e92c",
        arrow-back: "\e92d",
        arrow-downward: "\e92e",
        arrow-drop-down: "\e92f",
        arrow-drop-down-circle: "\e930",
        arrow-drop-up: "\e931",
        arrow-forward: "\e932",
        arrow-upward: "\e933",
        art-track: "\e934",
        aspect-ratio: "\e935",
        poll: "\e936",
        assignment: "\e937",
        assignment-ind: "\e938",
        assignment-late: "\e939",
        assignment-return: "\e93a",
        assignment-returned: "\e93b",
        assignment-turned-in: "\e93c",
        assistant: "\e93d",
        flag: "\e93e",
        attach-file: "\e93f",
        attach-money: "\e940",
        attachment: "\e941",
        audiotrack: "\e942",
        autorenew: "\e943",
        av-timer: "\e944",
        backspace: "\e945",
        cloud-upload: "\e946",
        battery-alert: "\e947",
        battery-charging-full: "\e948",
        battery-std: "\e949",
        battery-unknown: "\e94a",
        beach-access: "\e94b",
        beenhere: "\e94c",
        block: "\e94d",
        bluetooth: "\e94e",
        bluetooth-searching: "\e94f",
        bluetooth-connected: "\e950",
        bluetooth-disabled: "\e951",
        blur-circular: "\e952",
        blur-linear: "\e953",
        blur-off: "\e954",
        blur-on: "\e955",
        class: "\e956",
        turned-in: "\e957",
        turned-in-not: "\e958",
        border-all: "\e959",
        border-bottom: "\e95a",
        border-clear: "\e95b",
        border-color: "\e95c",
        border-horizontal: "\e95d",
        border-inner: "\e95e",
        border-left: "\e95f",
        border-outer: "\e960",
        border-right: "\e961",
        border-style: "\e962",
        border-top: "\e963",
        border-vertical: "\e964",
        branding-watermark: "\e965",
        brightness-1: "\e966",
        brightness-2: "\e967",
        brightness-3: "\e968",
        brightness-4: "\e969",
        brightness-low: "\e96a",
        brightness-medium: "\e96b",
        brightness-high: "\e96c",
        brightness-auto: "\e96d",
        broken-image: "\e96e",
        brush: "\e96f",
        bubble-chart: "\e970",
        bug-report: "\e971",
        build: "\e972",
        burst-mode: "\e973",
        domain: "\e974",
        business-center: "\e975",
        cached: "\e976",
        cake: "\e977",
        phone: "\e978",
        call-end: "\e979",
        call-made: "\e97a",
        merge-type: "\e97b",
        call-missed: "\e97c",
        call-missed-outgoing: "\e97d",
        call-received: "\e97e",
        call-split: "\e97f",
        call-to-action: "\e980",
        camera: "\e981",
        photo-camera: "\e982",
        camera-enhance: "\e983",
        camera-front: "\e984",
        camera-rear: "\e985",
        camera-roll: "\e986",
        cancel: "\e987",
        redeem: "\e988",
        card-membership: "\e989",
        card-travel: "\e98a",
        casino: "\e98b",
        cast: "\e98c",
        cast-connected: "\e98d",
        center-focus-strong: "\e98e",
        center-focus-weak: "\e98f",
        change-history: "\e990",
        chat: "\e991",
        chat-bubble: "\e992",
        chat-bubble-outline: "\e993",
        check: "\e994",
        check-box: "\e995",
        check-box-outline-blank: "\e996",
        check-circle: "\e997",
        navigate-before: "\e998",
        navigate-next: "\e999",
        child-care: "\e99a",
        child-friendly: "\e99b",
        chrome-reader-mode: "\e99c",
        close: "\e99d",
        clear-all: "\e99e",
        closed-caption: "\e99f",
        wb-cloudy: "\e9a0",
        cloud-circle: "\e9a1",
        cloud-done: "\e9a2",
        cloud-download: "\e9a3",
        cloud-off: "\e9a4",
        cloud-queue: "\e9a5",
        code: "\e9a6",
        photo-library: "\e9a7",
        collections-bookmark: "\e9a8",
        palette: "\e9a9",
        colorize: "\e9aa",
        comment: "\e9ab",
        compare: "\e9ac",
        compare-arrows: "\e9ad",
        laptop: "\e9ae",
        confirmation-number: "\e9af",
        contact-mail: "\e9b0",
        contact-phone: "\e9b1",
        contacts: "\e9b2",
        content-copy: "\e9b3",
        content-cut: "\e9b4",
        content-paste: "\e9b5",
        control-point-duplicate: "\e9b6",
        copyright: "\e9b7",
        mode-edit: "\e9b8",
        create-new-folder: "\e9b9",
        payment: "\e9ba",
        crop: "\e9bb",
        crop-16-9: "\e9bc",
        crop-3-2: "\e9bd",
        crop-landscape: "\e9be",
        crop-7-5: "\e9bf",
        crop-din: "\e9c0",
        crop-free: "\e9c1",
        crop-original: "\e9c2",
        crop-portrait: "\e9c3",
        crop-rotate: "\e9c4",
        crop-square: "\e9c5",
        dashboard: "\e9c6",
        data-usage: "\e9c7",
        date-range: "\e9c8",
        dehaze: "\e9c9",
        delete: "\e9ca",
        delete-forever: "\e9cb",
        delete-sweep: "\e9cc",
        description: "\e9cd",
        desktop-mac: "\e9ce",
        desktop-windows: "\e9cf",
        details: "\e9d0",
        developer-board: "\e9d1",
        developer-mode: "\e9d2",
        device-hub: "\e9d3",
        phonelink: "\e9d4",
        devices-other: "\e9d5",
        dialer-sip: "\e9d6",
        dialpad: "\e9d7",
        directions: "\e9d8",
        directions-bike: "\e9d9",
        directions-boat: "\e9da",
        directions-bus: "\e9db",
        directions-car: "\e9dc",
        directions-railway: "\e9dd",
        directions-run: "\e9de",
        directions-transit: "\e9df",
        directions-walk: "\e9e0",
        disc-full: "\e9e1",
        dns: "\e9e2",
        not-interested: "\e9e3",
        do-not-disturb-alt: "\e9e4",
        do-not-disturb-off: "\e9e5",
        remove-circle: "\e9e6",
        dock: "\e9e7",
        done: "\e9e8",
        done-all: "\e9e9",
        donut-large: "\e9ea",
        donut-small: "\e9eb",
        drafts: "\e9ec",
        drag-handle: "\e9ed",
        time-to-leave: "\e9ee",
        dvr: "\e9ef",
        edit-location: "\e9f0",
        eject: "\e9f1",
        markunread: "\e9f2",
        enhanced-encryption: "\e9f3",
        equalizer: "\e9f4",
        error: "\e9f5",
        error-outline: "\e9f6",
        euro-symbol: "\e9f7",
        ev-station: "\e9f8",
        insert-invitation: "\e9f9",
        event-available: "\e9fa",
        event-busy: "\e9fb",
        event-note: "\e9fc",
        event-seat: "\e9fd",
        exit-to-app: "\e9fe",
        expand-less: "\e9ff",
        expand-more: "\ea00",
        explicit: "\ea01",
        explore: "\ea02",
        exposure: "\ea03",
        exposure-neg-1: "\ea04",
        exposure-neg-2: "\ea05",
        exposure-plus-1: "\ea06",
        exposure-plus-2: "\ea07",
        exposure-zero: "\ea08",
        extension: "\ea09",
        face: "\ea0a",
        fast-forward: "\ea0b",
        fast-rewind: "\ea0c",
        favorite: "\ea0d",
        favorite-border: "\ea0e",
        featured-play-list: "\ea0f",
        featured-video: "\ea10",
        sms-failed: "\ea11",
        fiber-dvr: "\ea12",
        fiber-manual-record: "\ea13",
        fiber-new: "\ea14",
        fiber-pin: "\ea15",
        fiber-smart-record: "\ea16",
        get-app: "\ea17",
        file-upload: "\ea18",
        filter: "\ea19",
        filter-1: "\ea1a",
        filter-2: "\ea1b",
        filter-3: "\ea1c",
        filter-4: "\ea1d",
        filter-5: "\ea1e",
        filter-6: "\ea1f",
        filter-7: "\ea20",
        filter-8: "\ea21",
        filter-9: "\ea22",
        filter-9-plus: "\ea23",
        filter-b-and-w: "\ea24",
        filter-center-focus: "\ea25",
        filter-drama: "\ea26",
        filter-frames: "\ea27",
        terrain: "\ea28",
        filter-list: "\ea29",
        filter-none: "\ea2a",
        filter-tilt-shift: "\ea2b",
        filter-vintage: "\ea2c",
        find-in-page: "\ea2d",
        find-replace: "\ea2e",
        fingerprint: "\ea2f",
        first-page: "\ea30",
        fitness-center: "\ea31",
        flare: "\ea32",
        flash-auto: "\ea33",
        flash-off: "\ea34",
        flash-on: "\ea35",
        flight-land: "\ea36",
        flight-takeoff: "\ea37",
        flip: "\ea38",
        flip-to-back: "\ea39",
        flip-to-front: "\ea3a",
        folder: "\ea3b",
        folder-open: "\ea3c",
        folder-shared: "\ea3d",
        folder-special: "\ea3e",
        font-download: "\ea3f",
        format-align-center: "\ea40",
        format-align-justify: "\ea41",
        format-align-left: "\ea42",
        format-align-right: "\ea43",
        format-bold: "\ea44",
        format-clear: "\ea45",
        format-color-fill: "\ea46",
        format-color-reset: "\ea47",
        format-color-text: "\ea48",
        format-indent-decrease: "\ea49",
        format-indent-increase: "\ea4a",
        format-italic: "\ea4b",
        format-line-spacing: "\ea4c",
        format-list-bulleted: "\ea4d",
        format-list-numbered: "\ea4e",
        format-paint: "\ea4f",
        format-quote: "\ea50",
        format-shapes: "\ea51",
        format-size: "\ea52",
        format-strikethrough: "\ea53",
        format-textdirection-l-to-r: "\ea54",
        format-textdirection-r-to-l: "\ea55",
        format-underlined: "\ea56",
        question-answer: "\ea57",
        forward: "\ea58",
        forward-10: "\ea59",
        forward-30: "\ea5a",
        forward-5: "\ea5b",
        free-breakfast: "\ea5c",
        fullscreen: "\ea5d",
        fullscreen-exit: "\ea5e",
        functions: "\ea5f",
        g-translate: "\ea60",
        games: "\ea61",
        gavel: "\ea62",
        gesture: "\ea63",
        gif: "\ea64",
        goat: "\ea65",
        golf-course: "\ea66",
        my-location: "\ea67",
        location-searching: "\ea68",
        location-disabled: "\ea69",
        star: "\ea6a",
        gradient: "\ea6b",
        grain: "\ea6c",
        graphic-eq: "\ea6d",
        grid-off: "\ea6e",
        grid-on: "\ea6f",
        people: "\ea70",
        group-add: "\ea71",
        group-work: "\ea72",
        hd: "\ea73",
        hdr-off: "\ea74",
        hdr-on: "\ea75",
        hdr-strong: "\ea76",
        hdr-weak: "\ea77",
        headset: "\ea78",
        headset-mic: "\ea79",
        healing: "\ea7a",
        hearing: "\ea7b",
        help: "\ea7c",
        help-outline: "\ea7d",
        high-quality: "\ea7e",
        highlight: "\ea7f",
        highlight-off: "\ea80",
        restore: "\ea81",
        home: "\ea82",
        hot-tub: "\ea83",
        local-hotel: "\ea84",
        hourglass-empty: "\ea85",
        hourglass-full: "\ea86",
        http: "\ea87",
        lock: "\ea88",
        photo: "\ea89",
        image-aspect-ratio: "\ea8a",
        import-contacts: "\ea8b",
        import-export: "\ea8c",
        important-devices: "\ea8d",
        inbox: "\ea8e",
        indeterminate-check-box: "\ea8f",
        info: "\ea90",
        info-outline: "\ea91",
        input: "\ea92",
        insert-comment: "\ea93",
        insert-drive-file: "\ea94",
        tag-faces: "\ea95",
        link: "\ea96",
        invert-colors: "\ea97",
        invert-colors-off: "\ea98",
        iso: "\ea99",
        keyboard: "\ea9a",
        keyboard-arrow-down: "\ea9b",
        keyboard-arrow-left: "\ea9c",
        keyboard-arrow-right: "\ea9d",
        keyboard-arrow-up: "\ea9e",
        keyboard-backspace: "\ea9f",
        keyboard-capslock: "\eaa0",
        keyboard-hide: "\eaa1",
        keyboard-return: "\eaa2",
        keyboard-tab: "\eaa3",
        keyboard-voice: "\eaa4",
        kitchen: "\eaa5",
        label: "\eaa6",
        label-outline: "\eaa7",
        language: "\eaa8",
        laptop-chromebook: "\eaa9",
        laptop-mac: "\eaaa",
        laptop-windows: "\eaab",
        last-page: "\eaac",
        open-in-new: "\eaad",
        layers: "\eaae",
        layers-clear: "\eaaf",
        leak-add: "\eab0",
        leak-remove: "\eab1",
        lens: "\eab2",
        library-books: "\eab3",
        library-music: "\eab4",
        lightbulb-outline: "\eab5",
        line-style: "\eab6",
        line-weight: "\eab7",
        linear-scale: "\eab8",
        linked-camera: "\eab9",
        list: "\eaba",
        live-help: "\eabb",
        live-tv: "\eabc",
        local-play: "\eabd",
        local-airport: "\eabe",
        local-atm: "\eabf",
        local-bar: "\eac0",
        local-cafe: "\eac1",
        local-car-wash: "\eac2",
        local-convenience-store: "\eac3",
        restaurant-menu: "\eac4",
        local-drink: "\eac5",
        local-florist: "\eac6",
        local-gas-station: "\eac7",
        shopping-cart: "\eac8",
        local-hospital: "\eac9",
        local-laundry-service: "\eaca",
        local-library: "\eacb",
        local-mall: "\eacc",
        theaters: "\eacd",
        local-offer: "\eace",
        local-parking: "\eacf",
        local-pharmacy: "\ead0",
        local-pizza: "\ead1",
        print: "\ead2",
        local-shipping: "\ead3",
        local-taxi: "\ead4",
        location-city: "\ead5",
        location-off: "\ead6",
        room: "\ead7",
        lock-open: "\ead8",
        lock-outline: "\ead9",
        looks: "\eada",
        looks-3: "\eadb",
        looks-4: "\eadc",
        looks-5: "\eadd",
        looks-6: "\eade",
        looks-one: "\eadf",
        looks-two: "\eae0",
        sync: "\eae1",
        loupe: "\eae2",
        low-priority: "\eae3",
        loyalty: "\eae4",
        mail-outline: "\eae5",
        map: "\eae6",
        markunread-mailbox: "\eae7",
        memory: "\eae8",
        menu: "\eae9",
        message: "\eaea",
        mic: "\eaeb",
        mic-none: "\eaec",
        mic-off: "\eaed",
        mms: "\eaee",
        mode-comment: "\eaef",
        monetization-on: "\eaf0",
        money-off: "\eaf1",
        monochrome-photos: "\eaf2",
        mood-bad: "\eaf3",
        more: "\eaf4",
        more-horiz: "\eaf5",
        more-vert: "\eaf6",
        motorcycle: "\eaf7",
        mouse: "\eaf8",
        move-to-inbox: "\eaf9",
        movie-creation: "\eafa",
        movie-filter: "\eafb",
        multiline-chart: "\eafc",
        music-note: "\eafd",
        music-video: "\eafe",
        nature: "\eaff",
        nature-people: "\eb00",
        navigation: "\eb01",
        near-me: "\eb02",
        network-cell: "\eb03",
        network-check: "\eb04",
        network-locked: "\eb05",
        network-wifi: "\eb06",
        new-releases: "\eb07",
        next-week: "\eb08",
        nfc: "\eb09",
        no-encryption: "\eb0a",
        signal-cellular-no-sim: "\eb0b",
        "note": "\eb0c",
        "note-add": "\eb0d",
        "notifications": "\eb0e",
        "notifications-active": "\eb0f",
        "notifications-none": "\eb10",
        "notifications-off": "\eb11",
        "notifications-paused": "\eb12",
        offline-pin: "\eb13",
        ondemand-video: "\eb14",
        opacity: "\eb15",
        open-in-browser: "\eb16",
        open-with: "\eb17",
        pages: "\eb18",
        pageview: "\eb19",
        pan-tool: "\eb1a",
        panorama: "\eb1b",
        radio-button-unchecked: "\eb1c",
        panorama-horizontal: "\eb1d",
        panorama-vertical: "\eb1e",
        panorama-wide-angle: "\eb1f",
        party-mode: "\eb20",
        pause: "\eb21",
        pause-circle-filled: "\eb22",
        pause-circle-outline: "\eb23",
        people-outline: "\eb24",
        perm-camera-mic: "\eb25",
        perm-contact-calendar: "\eb26",
        perm-data-setting: "\eb27",
        perm-device-information: "\eb28",
        person-outline: "\eb29",
        perm-media: "\eb2a",
        perm-phone-msg: "\eb2b",
        perm-scan-wifi: "\eb2c",
        person: "\eb2d",
        person-add: "\eb2e",
        person-pin: "\eb2f",
        person-pin-circle: "\eb30",
        personal-video: "\eb31",
        pets: "\eb32",
        phone-android: "\eb33",
        phone-bluetooth-speaker: "\eb34",
        phone-forwarded: "\eb35",
        phone-in-talk: "\eb36",
        phone-iphone: "\eb37",
        phone-locked: "\eb38",
        phone-missed: "\eb39",
        phone-paused: "\eb3a",
        phonelink-erase: "\eb3b",
        phonelink-lock: "\eb3c",
        phonelink-off: "\eb3d",
        phonelink-ring: "\eb3e",
        phonelink-setup: "\eb3f",
        photo-album: "\eb40",
        photo-filter: "\eb41",
        photo-size-select-actual: "\eb42",
        photo-size-select-large: "\eb43",
        photo-size-select-small: "\eb44",
        picture-as-pdf: "\eb45",
        picture-in-picture: "\eb46",
        picture-in-picture-alt: "\eb47",
        pie-chart: "\eb48",
        pie-chart-outlined: "\eb49",
        pin-drop: "\eb4a",
        play-arrow: "\eb4b",
        play-circle-filled: "\eb4c",
        play-circle-outline: "\eb4d",
        play-for-work: "\eb4e",
        playlist-add: "\eb4f",
        playlist-add-check: "\eb50",
        playlist-play: "\eb51",
        plus-one: "\eb52",
        polymer: "\eb53",
        pool: "\eb54",
        portable-wifi-off: "\eb55",
        portrait: "\eb56",
        power: "\eb57",
        power-input: "\eb58",
        power-settings-new: "\eb59",
        pregnant-woman: "\eb5a",
        present-to-all: "\eb5b",
        priority-high: "\eb5c",
        public: "\eb5d",
        publish: "\eb5e",
        queue-music: "\eb5f",
        queue-play-next: "\eb60",
        radio: "\eb61",
        radio-button-checked: "\eb62",
        rate-review: "\eb63",
        receipt: "\eb64",
        recent-actors: "\eb65",
        record-voice-over: "\eb66",
        redo: "\eb67",
        refresh: "\eb68",
        remove: "\eb69",
        remove-circle-outline: "\eb6a",
        remove-from-queue: "\eb6b",
        visibility: "\eb6c",
        remove-shopping-cart: "\eb6d",
        reorder: "\eb6e",
        repeat: "\eb6f",
        repeat-one: "\eb70",
        replay: "\eb71",
        replay-10: "\eb72",
        replay-30: "\eb73",
        replay-5: "\eb74",
        reply: "\eb75",
        reply-all: "\eb76",
        report: "\eb77",
        warning: "\eb78",
        restaurant: "\eb79",
        restore-page: "\eb7a",
        ring-volume: "\eb7b",
        room-service: "\eb7c",
        rotate-90-degrees-ccw: "\eb7d",
        rotate-left: "\eb7e",
        rotate-right: "\eb7f",
        rounded-corner: "\eb80",
        router: "\eb81",
        rowing: "\eb82",
        rss-feed: "\eb83",
        rv-hookup: "\eb84",
        satellite: "\eb85",
        save: "\eb86",
        scanner: "\eb87",
        school: "\eb88",
        screen-lock-landscape: "\eb89",
        screen-lock-portrait: "\eb8a",
        screen-lock-rotation: "\eb8b",
        screen-rotation: "\eb8c",
        screen-share: "\eb8d",
        sd-storage: "\eb8e",
        search: "\eb8f",
        security: "\eb90",
        select-all: "\eb91",
        send: "\eb92",
        sentiment-dissatisfied: "\eb93",
        sentiment-neutral: "\eb94",
        sentiment-satisfied: "\eb95",
        sentiment-very-dissatisfied: "\eb96",
        sentiment-very-satisfied: "\eb97",
        settings: "\eb98",
        settings-applications: "\eb99",
        settings-backup-restore: "\eb9a",
        settings-bluetooth: "\eb9b",
        settings-brightness: "\eb9c",
        settings-cell: "\eb9d",
        settings-ethernet: "\eb9e",
        settings-input-antenna: "\eb9f",
        settings-input-composite: "\eba0",
        settings-input-hdmi: "\eba1",
        settings-input-svideo: "\eba2",
        settings-overscan: "\eba3",
        settings-phone: "\eba4",
        settings-power: "\eba5",
        settings-remote: "\eba6",
        settings-system-daydream: "\eba7",
        settings-voice: "\eba8",
        share: "\eba9",
        shop: "\ebaa",
        shop-two: "\ebab",
        shopping-basket: "\ebac",
        short-text: "\ebad",
        show-chart: "\ebae",
        shuffle: "\ebaf",
        signal-cellular-4-bar: "\ebb0",
        signal-cellular-connected-no-internet-4-bar: "\ebb1",
        signal-cellular-null: "\ebb2",
        signal-cellular-off: "\ebb3",
        signal-wifi-4-bar: "\ebb4",
        signal-wifi-4-bar-lock: "\ebb5",
        signal-wifi-off: "\ebb6",
        sim-card: "\ebb7",
        sim-card-alert: "\ebb8",
        skip-next: "\ebb9",
        skip-previous: "\ebba",
        slideshow: "\ebbb",
        slow-motion-video: "\ebbc",
        stay-primary-portrait: "\ebbd",
        smoke-free: "\ebbe",
        smoking-rooms: "\ebbf",
        textsms: "\ebc0",
        snooze: "\ebc1",
        sort: "\ebc2",
        sort-by-alpha: "\ebc3",
        spa: "\ebc4",
        space-bar: "\ebc5",
        speaker: "\ebc6",
        speaker-group: "\ebc7",
        speaker-notes: "\ebc8",
        speaker-notes-off: "\ebc9",
        speaker-phone: "\ebca",
        spellcheck: "\ebcb",
        star-border: "\ebcc",
        star-half: "\ebcd",
        stars: "\ebce",
        stay-primary-landscape: "\ebcf",
        stop: "\ebd0",
        stop-screen-share: "\ebd1",
        storage: "\ebd2",
        store-mall-directory: "\ebd3",
        straighten: "\ebd4",
        streetview: "\ebd5",
        strikethrough-s: "\ebd6",
        style: "\ebd7",
        subdirectory-arrow-left: "\ebd8",
        subdirectory-arrow-right: "\ebd9",
        subject: "\ebda",
        subscriptions: "\ebdb",
        subtitles: "\ebdc",
        subway: "\ebdd",
        supervisor-account: "\ebde",
        surround-sound: "\ebdf",
        swap-calls: "\ebe0",
        swap-horiz: "\ebe1",
        swap-vert: "\ebe2",
        swap-vertical-circle: "\ebe3",
        switch-camera: "\ebe4",
        switch-video: "\ebe5",
        sync-disabled: "\ebe6",
        sync-problem: "\ebe7",
        system-update: "\ebe8",
        system-update-alt: "\ebe9",
        tab: "\ebea",
        tab-unselected: "\ebeb",
        tablet: "\ebec",
        tablet-android: "\ebed",
        tablet-mac: "\ebee",
        tap-and-play: "\ebef",
        text-fields: "\ebf0",
        text-format: "\ebf1",
        texture: "\ebf2",
        thumb-down: "\ebf3",
        thumb-up: "\ebf4",
        thumbs-up-down: "\ebf5",
        timelapse: "\ebf6",
        timeline: "\ebf7",
        timer: "\ebf8",
        timer-10: "\ebf9",
        timer-3: "\ebfa",
        timer-off: "\ebfb",
        title: "\ebfc",
        toc: "\ebfd",
        today: "\ebfe",
        toll: "\ebff",
        tonality: "\ec00",
        touch-app: "\ec01",
        toys: "\ec02",
        track-changes: "\ec03",
        traffic: "\ec04",
        train: "\ec05",
        tram: "\ec06",
        transfer-within-a-station: "\ec07",
        transform: "\ec08",
        translate: "\ec09",
        trending-down: "\ec0a",
        trending-flat: "\ec0b",
        trending-up: "\ec0c",
        tune: "\ec0d",
        tv: "\ec0e",
        unarchive: "\ec0f",
        undo: "\ec10",
        unfold-less: "\ec11",
        unfold-more: "\ec12",
        update: "\ec13",
        usb: "\ec14",
        verified-user: "\ec15",
        vertical-align-bottom: "\ec16",
        vertical-align-center: "\ec17",
        vertical-align-top: "\ec18",
        vibration: "\ec19",
        video-call: "\ec1a",
        video-label: "\ec1b",
        video-library: "\ec1c",
        videocam: "\ec1d",
        videocam-off: "\ec1e",
        videogame-asset: "\ec1f",
        view-agenda: "\ec20",
        view-array: "\ec21",
        view-carousel: "\ec22",
        view-column: "\ec23",
        view-comfy: "\ec24",
        view-compact: "\ec25",
        view-day: "\ec26",
        view-headline: "\ec27",
        view-list: "\ec28",
        view-module: "\ec29",
        view-quilt: "\ec2a",
        view-stream: "\ec2b",
        view-week: "\ec2c",
        vignette: "\ec2d",
        visibility-off: "\ec2e",
        voice-chat: "\ec2f",
        voicemail: "\ec30",
        volume-down: "\ec31",
        volume-mute: "\ec32",
        volume-off: "\ec33",
        volume-up: "\ec34",
        vpn-key: "\ec35",
        vpn-lock: "\ec36",
        wallpaper: "\ec37",
        watch: "\ec38",
        watch-later: "\ec39",
        wb-auto: "\ec3a",
        wb-incandescent: "\ec3b",
        wb-iridescent: "\ec3c",
        wb-sunny: "\ec3d",
        wc: "\ec3e",
        web: "\ec3f",
        web-asset: "\ec40",
        weekend: "\ec41",
        whatshot: "\ec42",
        widgets: "\ec43",
        wifi: "\ec44",
        wifi-lock: "\ec45",
        wifi-tethering: "\ec46",
        work: "\ec47",
        wrap-text: "\ec48",
        youtube-searched-for: "\ec49",
        zoom-in: "\ec4a",
        zoom-out: "\ec4b",
        zoom-out-map: "\ec4c",
);