/// Material Design Icons Map
/// @access public
$MD-Icons:(
        3d-rotation: "\e600",
        accessibility: "\e601",
        account-balance: "\e602",
        account-balance-wallet: "\e603",
        account-box: "\e604",
        account-child: "\e605",
        account-circle: "\e606",
        add-shopping-cart: "\e607",
        alarm: "\e608",
        alarm-add: "\e609",
        alarm-off: "\e60a",
        alarm-on: "\e60b",
        android: "\e60c",
        announcement: "\e60d",
        aspect-ratio: "\e60e",
        assessment: "\e60f",
        assignment: "\e610",
        assignment-ind: "\e611",
        assignment-late: "\e612",
        assignment-return: "\e613",
        assignment-returned: "\e614",
        assignment-turned-in: "\e615",
        autorenew: "\e616",
        backup: "\e617",
        book: "\e618",
        bookmark: "\e619",
        bookmark-outline: "\e61a",
        bug-report: "\e61b",
        cached: "\e61c",
        class: "\e61d",
        credit-card: "\e61e",
        dashboard: "\e61f",
        delete: "\e620",
        description: "\e621",
        dns: "\e622",
        done: "\e623",
        done-all: "\e624",
        event: "\e625",
        exit-to-app: "\e626",
        explore: "\e627",
        extension: "\e628",
        face-unlock: "\e629",
        favorite: "\e62a",
        favorite-outline: "\e62b",
        find-in-page: "\e62c",
        find-replace: "\e62d",
        flip-to-back: "\e62e",
        flip-to-front: "\e62f",
        get-app: "\e630",
        grade: "\e631",
        group-work: "\e632",
        help: "\e633",
        highlight-remove: "\e634",
        history: "\e635",
        home: "\e636",
        https: "\e637",
        info: "\e638",
        info-outline: "\e639",
        input: "\e63a",
        invert-colors: "\e63b",
        label: "\e63c",
        label-outline: "\e63d",
        language: "\e63e",
        launch: "\e63f",
        list: "\e640",
        lock: "\e641",
        lock-open: "\e642",
        lock-outline: "\e643",
        loyalty: "\e644",
        markunread-mailbox: "\e645",
        "note-add": "\e646",
        open-in-browser: "\e647",
        open-in-new: "\e648",
        open-with: "\e649",
        pageview: "\e64a",
        payment: "\e64b",
        perm-camera-m: "\e64c",
        perm-contact-cal: "\e64d",
        perm-data-setting: "\e64e",
        perm-device-info: "\e64f",
        perm-identity: "\e650",
        perm-media: "\e651",
        perm-phone-msg: "\e652",
        perm-scan-wifi: "\e653",
        picture-in-picture: "\e654",
        polymer: "\e655",
        print: "\e656",
        query-builder: "\e657",
        question-answer: "\e658",
        receipt: "\e659",
        redeem: "\e65a",
        reorder: "\e65b",
        report-problem: "\e65c",
        restore: "\e65d",
        room: "\e65e",
        schedule: "\e65f",
        search: "\e660",
        settings: "\e661",
        settings-applications: "\e662",
        settings-backup-restore: "\e663",
        settings-bluetooth: "\e664",
        settings-cell: "\e665",
        settings-display: "\e666",
        settings-ethernet: "\e667",
        settings-input-antenna: "\e668",
        settings-input-component: "\e669",
        settings-input-composite: "\e66a",
        settings-input-hdmi: "\e66b",
        settings-input-svideo: "\e66c",
        settings-overscan: "\e66d",
        settings-phone: "\e66e",
        settings-power: "\e66f",
        settings-remote: "\e670",
        settings-voice: "\e671",
        shop: "\e672",
        shop-two: "\e673",
        shopping-basket: "\e674",
        shopping-cart: "\e675",
        speaker-notes: "\e676",
        spellcheck: "\e677",
        star-rate: "\e678",
        stars: "\e679",
        store: "\e67a",
        subject: "\e67b",
        supervisor-account: "\e67c",
        swap-horiz: "\e67d",
        swap-vert: "\e67e",
        swap-vert-circle: "\e67f",
        system-update-tv: "\e680",
        tab: "\e681",
        tab-unselected: "\e682",
        theaters: "\e683",
        thumb-down: "\e684",
        thumb-up: "\e685",
        thumbs-up-down: "\e686",
        toc: "\e687",
        today: "\e688",
        track-changes: "\e689",
        translate: "\e68a",
        trending-down: "\e68b",
        trending-neutral: "\e68c",
        trending-up: "\e68d",
        turned-in: "\e68e",
        turned-in-not: "\e68f",
        verified-user: "\e690",
        view-agenda: "\e691",
        view-array: "\e692",
        view-carousel: "\e693",
        view-column: "\e694",
        view-day: "\e695",
        view-headline: "\e696",
        view-list: "\e697",
        view-module: "\e698",
        view-quilt: "\e699",
        view-stream: "\e69a",
        view-week: "\e69b",
        visibility: "\e69c",
        visibility-off: "\e69d",
        wallet-giftcard: "\e69e",
        wallet-membership: "\e69f",
        wallet-travel: "\e6a0",
        work: "\e6a1",
        error: "\e6a2",
        warning: "\e6a3",
        album: "\e6a4",
        av-timer: "\e6a5",
        closed-caption: "\e6a6",
        equalizer: "\e6a7",
        explicit: "\e6a8",
        fast-forward: "\e6a9",
        fast-rewind: "\e6aa",
        games: "\e6ab",
        hearing: "\e6ac",
        high-quality: "\e6ad",
        loop: "\e6ae",
        mic: "\e6af",
        mnone: "\e6b0",
        moff: "\e6b1",
        movie: "\e6b2",
        my-library-add: "\e6b3",
        my-library-books: "\e6b4",
        my-library-mus: "\e6b5",
        new-releases: "\e6b6",
        "not-interested": "\e6b7",
        pause: "\e6b8",
        pause-circle-fill: "\e6b9",
        pause-circle-outline: "\e6ba",
        play-arrow: "\e6bb",
        play-circle-fill: "\e6bc",
        play-circle-outline: "\e6bd",
        play-shopping-bag: "\e6be",
        playlist-add: "\e6bf",
        queue: "\e6c0",
        queue-mus: "\e6c1",
        radio: "\e6c2",
        recent-actors: "\e6c3",
        repeat: "\e6c4",
        repeat-one: "\e6c5",
        replay: "\e6c6",
        shuffle: "\e6c7",
        skip-next: "\e6c8",
        skip-previous: "\e6c9",
        snooze: "\e6ca",
        stop: "\e6cb",
        subtitles: "\e6cc",
        surround-sound: "\e6cd",
        video-collection: "\e6ce",
        videocam: "\e6cf",
        videocam-off: "\e6d0",
        volume-down: "\e6d1",
        volume-mute: "\e6d2",
        volume-off: "\e6d3",
        volume-up: "\e6d4",
        web: "\e6d5",
        business: "\e6d6",
        call: "\e6d7",
        call-end: "\e6d8",
        call-made: "\e6d9",
        call-merge: "\e6da",
        call-missed: "\e6db",
        call-received: "\e6dc",
        call-split: "\e6dd",
        chat: "\e6de",
        clear-all: "\e6df",
        comment: "\e6e0",
        contacts: "\e6e1",
        dialer-sip: "\e6e2",
        dialpad: "\e6e3",
        dnd-on: "\e6e4",
        email: "\e6e5",
        forum: "\e6e6",
        import-export: "\e6e7",
        invert-colors-off: "\e6e8",
        invert-colors-on: "\e6e9",
        live-help: "\e6ea",
        location-off: "\e6eb",
        location-on: "\e6ec",
        message: "\e6ed",
        messenger: "\e6ee",
        no-sim: "\e6ef",
        phone: "\e6f0",
        portable-wifi-off: "\e6f1",
        quick-contacts-dialer: "\e6f2",
        quick-contacts-mail: "\e6f3",
        ring-volume: "\e6f4",
        stay-current-landscape: "\e6f5",
        stay-current-portrait: "\e6f6",
        stay-primary-landscape: "\e6f7",
        stay-primary-portrait: "\e6f8",
        swap-calls: "\e6f9",
        textsms: "\e6fa",
        voicemail: "\e6fb",
        vpn-key: "\e6fc",
        add: "\e6fd",
        add-box: "\e6fe",
        add-circle: "\e6ff",
        add-circle-outline: "\e700",
        archive: "\e701",
        backspace: "\e702",
        block: "\e703",
        clear: "\e704",
        content-copy: "\e705",
        content-cut: "\e706",
        content-paste: "\e707",
        create: "\e708",
        drafts: "\e709",
        filter-list: "\e70a",
        flag: "\e70b",
        forward: "\e70c",
        gesture: "\e70d",
        inbox: "\e70e",
        link: "\e70f",
        mail: "\e710",
        markunread: "\e711",
        redo: "\e712",
        remove: "\e713",
        remove-circle: "\e714",
        remove-circle-outline: "\e715",
        reply: "\e716",
        reply-all: "\e717",
        report: "\e718",
        save: "\e719",
        select-all: "\e71a",
        send: "\e71b",
        sort: "\e71c",
        text-format: "\e71d",
        undo: "\e71e",
        access-alarm: "\e71f",
        access-alarms: "\e720",
        access-time: "\e721",
        add-alarm: "\e722",
        airplanemode-off: "\e723",
        airplanemode-on: "\e724",
        battery-20: "\e725",
        battery-30: "\e726",
        battery-50: "\e727",
        battery-60: "\e728",
        battery-80: "\e729",
        battery-90: "\e72a",
        battery-alert: "\e72b",
        battery-charging-20: "\e72c",
        battery-charging-30: "\e72d",
        battery-charging-50: "\e72e",
        battery-charging-60: "\e72f",
        battery-charging-80: "\e730",
        battery-charging-90: "\e731",
        battery-charging-full: "\e732",
        battery-full: "\e733",
        battery-std: "\e734",
        battery-unknown: "\e735",
        bluetooth: "\e736",
        bluetooth-connected: "\e737",
        bluetooth-disabled: "\e738",
        bluetooth-searching: "\e739",
        brightness-auto: "\e73a",
        brightness-high: "\e73b",
        brightness-low: "\e73c",
        brightness-medium: "\e73d",
        data-usage: "\e73e",
        developer-mode: "\e73f",
        devices: "\e740",
        dvr: "\e741",
        gps-fixed: "\e742",
        gps-not-fixed: "\e743",
        gps-off: "\e744",
        location-disabled: "\e745",
        location-searching: "\e746",
        multitrack-audio: "\e747",
        network-cell: "\e748",
        network-wifi: "\e749",
        nfc: "\e74a",
        now-wallpaper: "\e74b",
        now-widgets: "\e74c",
        screen-lock-landscape: "\e74d",
        screen-lock-portrait: "\e74e",
        screen-lock-rotation: "\e74f",
        screen-rotation: "\e750",
        sd-storage: "\e751",
        settings-system-daydream: "\e752",
        signal-cellular-0-bar: "\e753",
        signal-cellular-1-bar: "\e754",
        signal-cellular-2-bar: "\e755",
        signal-cellular-3-bar: "\e756",
        signal-cellular-4-bar: "\e757",
        signal-cellular-connected-no-internet-0-bar: "\e758",
        signal-cellular-connected-no-internet-1-bar: "\e759",
        signal-cellular-connected-no-internet-2-bar: "\e75a",
        signal-cellular-connected-no-internet-3-bar: "\e75b",
        signal-cellular-connected-no-internet-4-bar: "\e75c",
        signal-cellular-no-sim: "\e75d",
        signal-cellular-null: "\e75e",
        signal-cellular-off: "\e75f",
        signal-wifi-0-bar: "\e760",
        signal-wifi-1-bar: "\e761",
        signal-wifi-2-bar: "\e762",
        signal-wifi-3-bar: "\e763",
        signal-wifi-4-bar: "\e764",
        signal-wifi-off: "\e765",
        signal-wifi-statusbar-1-bar: "\e766",
        signal-wifi-statusbar-2-bar: "\e767",
        signal-wifi-statusbar-3-bar: "\e768",
        signal-wifi-statusbar-4-bar: "\e769",
        signal-wifi-statusbar-connected-no-internet-1: "\e76a",
        signal-wifi-statusbar-connected-no-internet-2: "\e76b",
        signal-wifi-statusbar-connected-no-internet-3: "\e76c",
        signal-wifi-statusbar-connected-no-internet-4: "\e76d",
        signal-wifi-statusbar-connected-no-internet: "\e76e",
        signal-wifi-statusbar-not-connected: "\e76f",
        signal-wifi-statusbar-null: "\e770",
        storage: "\e771",
        usb: "\e772",
        wifi-lock: "\e773",
        wifi-tethering: "\e774",
        attach-file: "\e775",
        attach-money: "\e776",
        border-all: "\e777",
        border-bottom: "\e778",
        border-clear: "\e779",
        border-color: "\e77a",
        border-horizontal: "\e77b",
        border-inner: "\e77c",
        border-left: "\e77d",
        border-outer: "\e77e",
        border-right: "\e77f",
        border-style: "\e780",
        border-top: "\e781",
        border-vertical: "\e782",
        format-align-center: "\e783",
        format-align-justify: "\e784",
        format-align-left: "\e785",
        format-align-right: "\e786",
        format-bold: "\e787",
        format-clear: "\e788",
        format-color-fill: "\e789",
        format-color-reset: "\e78a",
        format-color-text: "\e78b",
        format-indent-decrease: "\e78c",
        format-indent-increase: "\e78d",
        format-ital: "\e78e",
        format-line-spacing: "\e78f",
        format-list-bulleted: "\e790",
        format-list-numbered: "\e791",
        format-paint: "\e792",
        format-quote: "\e793",
        format-size: "\e794",
        format-strikethrough: "\e795",
        format-textdirection-l-to-r: "\e796",
        format-textdirection-r-to-l: "\e797",
        format-underline: "\e798",
        functions: "\e799",
        insert-chart: "\e79a",
        insert-comment: "\e79b",
        insert-drive-file: "\e79c",
        insert-emoticon: "\e79d",
        insert-invitation: "\e79e",
        insert-link: "\e79f",
        insert-photo: "\e7a0",
        merge-type: "\e7a1",
        mode-comment: "\e7a2",
        mode-edit: "\e7a3",
        publish: "\e7a4",
        vertical-align-bottom: "\e7a5",
        vertical-align-center: "\e7a6",
        vertical-align-top: "\e7a7",
        wrap-text: "\e7a8",
        attachment: "\e7a9",
        cloud: "\e7aa",
        cloud-circle: "\e7ab",
        cloud-done: "\e7ac",
        cloud-download: "\e7ad",
        cloud-off: "\e7ae",
        cloud-queue: "\e7af",
        cloud-upload: "\e7b0",
        file-download: "\e7b1",
        file-upload: "\e7b2",
        folder: "\e7b3",
        folder-open: "\e7b4",
        folder-shared: "\e7b5",
        cast: "\e7b6",
        cast-connected: "\e7b7",
        computer: "\e7b8",
        desktop-mac: "\e7b9",
        desktop-windows: "\e7ba",
        dock: "\e7bb",
        gamepad: "\e7bc",
        headset: "\e7bd",
        headset-m: "\e7be",
        keyboard: "\e7bf",
        keyboard-alt: "\e7c0",
        keyboard-arrow-down: "\e7c1",
        keyboard-arrow-left: "\e7c2",
        keyboard-arrow-right: "\e7c3",
        keyboard-arrow-up: "\e7c4",
        keyboard-backspace: "\e7c5",
        keyboard-capslock: "\e7c6",
        keyboard-control: "\e7c7",
        keyboard-hide: "\e7c8",
        keyboard-return: "\e7c9",
        keyboard-tab: "\e7ca",
        keyboard-voice: "\e7cb",
        laptop: "\e7cc",
        laptop-chromebook: "\e7cd",
        laptop-mac: "\e7ce",
        laptop-windows: "\e7cf",
        memory: "\e7d0",
        mouse: "\e7d1",
        phone-android: "\e7d2",
        phone-iphone: "\e7d3",
        phonelink: "\e7d4",
        phonelink-off: "\e7d5",
        security: "\e7d6",
        sim-card: "\e7d7",
        smartphone: "\e7d8",
        speaker: "\e7d9",
        tablet: "\e7da",
        tablet-android: "\e7db",
        tablet-mac: "\e7dc",
        tv: "\e7dd",
        watch: "\e7de",
        add-to-photos: "\e7df",
        adjust: "\e7e0",
        assistant-photo: "\e7e1",
        audiotrack: "\e7e2",
        blur-circular: "\e7e3",
        blur-linear: "\e7e4",
        blur-off: "\e7e5",
        blur-on: "\e7e6",
        brightness-1: "\e7e7",
        brightness-2: "\e7e8",
        brightness-3: "\e7e9",
        brightness-4: "\e7ea",
        brightness-5: "\e7eb",
        brightness-6: "\e7ec",
        brightness-7: "\e7ed",
        brush: "\e7ee",
        camera: "\e7ef",
        camera-alt: "\e7f0",
        camera-front: "\e7f1",
        camera-rear: "\e7f2",
        camera-roll: "\e7f3",
        center-focus-strong: "\e7f4",
        center-focus-weak: "\e7f5",
        collections: "\e7f6",
        color-lens: "\e7f7",
        colorize: "\e7f8",
        compare: "\e7f9",
        control-point: "\e7fa",
        control-point-duplicate: "\e7fb",
        crop-3-2: "\e7fc",
        crop-5-4: "\e7fd",
        crop-7-5: "\e7fe",
        crop-16-9: "\e7ff",
        crop: "\e800",
        crop-din: "\e801",
        crop-free: "\e802",
        crop-landscape: "\e803",
        crop-original: "\e804",
        crop-portrait: "\e805",
        crop-square: "\e806",
        dehaze: "\e807",
        details: "\e808",
        edit: "\e809",
        exposure: "\e80a",
        exposure-minus-1: "\e80b",
        exposure-minus-2: "\e80c",
        exposure-plus-1: "\e80d",
        exposure-plus-2: "\e80e",
        exposure-zero: "\e80f",
        filter-1: "\e810",
        filter-2: "\e811",
        filter-3: "\e812",
        filter-4: "\e813",
        filter-5: "\e814",
        filter-6: "\e815",
        filter-7: "\e816",
        filter-8: "\e817",
        filter-9: "\e818",
        filter-9-plus: "\e819",
        filter: "\e81a",
        filter-b-and-w: "\e81b",
        filter-center-focus: "\e81c",
        filter-drama: "\e81d",
        filter-frames: "\e81e",
        filter-hdr: "\e81f",
        filter-none: "\e820",
        filter-tilt-shift: "\e821",
        filter-vintage: "\e822",
        flare: "\e823",
        flash-auto: "\e824",
        flash-off: "\e825",
        flash-on: "\e826",
        flip: "\e827",
        gradient: "\e828",
        grain: "\e829",
        grid-off: "\e82a",
        grid-on: "\e82b",
        hdr-off: "\e82c",
        hdr-on: "\e82d",
        hdr-strong: "\e82e",
        hdr-weak: "\e82f",
        healing: "\e830",
        image: "\e831",
        image-aspect-ratio: "\e832",
        iso: "\e833",
        landscape: "\e834",
        leak-add: "\e835",
        leak-remove: "\e836",
        lens: "\e837",
        looks-3: "\e838",
        looks-4: "\e839",
        looks-5: "\e83a",
        looks-6: "\e83b",
        looks: "\e83c",
        looks-one: "\e83d",
        looks-two: "\e83e",
        loupe: "\e83f",
        movie-creation: "\e840",
        nature: "\e841",
        nature-people: "\e842",
        navigate-before: "\e843",
        navigate-next: "\e844",
        palette: "\e845",
        panorama: "\e846",
        panorama-fisheye: "\e847",
        panorama-horizontal: "\e848",
        panorama-vertical: "\e849",
        panorama-wide-angle: "\e84a",
        photo: "\e84b",
        photo-album: "\e84c",
        photo-camera: "\e84d",
        photo-library: "\e84e",
        portrait: "\e84f",
        remove-red-eye: "\e850",
        rotate-left: "\e851",
        rotate-right: "\e852",
        slideshow: "\e853",
        straighten: "\e854",
        style: "\e855",
        switch-camera: "\e856",
        switch-video: "\e857",
        tag-faces: "\e858",
        texture: "\e859",
        timelapse: "\e85a",
        timer-3: "\e85b",
        timer-10: "\e85c",
        timer: "\e85d",
        timer-auto: "\e85e",
        timer-off: "\e85f",
        tonality: "\e860",
        transform: "\e861",
        tune: "\e862",
        wb-auto: "\e863",
        wb-cloudy: "\e864",
        wb-incandescent: "\e865",
        wb-irradescent: "\e866",
        wb-sunny: "\e867",
        beenhere: "\e868",
        directions: "\e869",
        directions-bike: "\e86a",
        directions-bus: "\e86b",
        directions-car: "\e86c",
        directions-ferry: "\e86d",
        directions-subway: "\e86e",
        directions-train: "\e86f",
        directions-transit: "\e870",
        directions-walk: "\e871",
        flight: "\e872",
        hotel: "\e873",
        layers: "\e874",
        layers-clear: "\e875",
        local-airport: "\e876",
        local-atm: "\e877",
        local-attraction: "\e878",
        local-bar: "\e879",
        local-cafe: "\e87a",
        local-car-wash: "\e87b",
        local-convenience-store: "\e87c",
        local-drink: "\e87d",
        local-florist: "\e87e",
        local-gas-station: "\e87f",
        local-grocery-store: "\e880",
        local-hospital: "\e881",
        local-hotel: "\e882",
        local-laundry-service: "\e883",
        local-library: "\e884",
        local-mall: "\e885",
        local-movies: "\e886",
        local-offer: "\e887",
        local-parking: "\e888",
        local-pharmacy: "\e889",
        local-phone: "\e88a",
        local-pizza: "\e88b",
        local-play: "\e88c",
        local-post-office: "\e88d",
        local-print-shop: "\e88e",
        local-restaurant: "\e88f",
        local-see: "\e890",
        local-shipping: "\e891",
        local-taxi: "\e892",
        location-history: "\e893",
        map: "\e894",
        my-location: "\e895",
        navigation: "\e896",
        pin-drop: "\e897",
        place: "\e898",
        rate-review: "\e899",
        restaurant-menu: "\e89a",
        satellite: "\e89b",
        store-mall-directory: "\e89c",
        terrain: "\e89d",
        traff: "\e89e",
        apps: "\e89f",
        arrow-back: "\e8a0",
        arrow-drop-down: "\e8a1",
        arrow-drop-down-circle: "\e8a2",
        arrow-drop-up: "\e8a3",
        arrow-forward: "\e8a4",
        cancel: "\e8a5",
        check: "\e8a6",
        chevron-left: "\e8a7",
        chevron-right: "\e8a8",
        close: "\e8a9",
        expand-less: "\e8aa",
        expand-more: "\e8ab",
        fullscreen: "\e8ac",
        fullscreen-exit: "\e8ad",
        menu: "\e8ae",
        more-horiz: "\e8af",
        more-vert: "\e8b0",
        refresh: "\e8b1",
        unfold-less: "\e8b2",
        unfold-more: "\e8b3",
        adb: "\e8b4",
        bluetooth-audio: "\e8b5",
        disc-full: "\e8b6",
        dnd-forwardslash: "\e8b7",
        do-not-disturb: "\e8b8",
        drive-eta: "\e8b9",
        event-available: "\e8ba",
        event-busy: "\e8bb",
        event-note: "\e8bc",
        folder-special: "\e8bd",
        mms: "\e8be",
        more: "\e8bf",
        network-locked: "\e8c0",
        phone-bluetooth-speaker: "\e8c1",
        phone-forwarded: "\e8c2",
        phone-in-talk: "\e8c3",
        phone-locked: "\e8c4",
        phone-missed: "\e8c5",
        phone-paused: "\e8c6",
        play-download: "\e8c7",
        play-install: "\e8c8",
        sd-card: "\e8c9",
        sim-card-alert: "\e8ca",
        sms: "\e8cb",
        sms-failed: "\e8cc",
        sync: "\e8cd",
        sync-disabled: "\e8ce",
        sync-problem: "\e8cf",
        system-update: "\e8d0",
        tap-and-play: "\e8d1",
        time-to-leave: "\e8d2",
        vibration: "\e8d3",
        voice-chat: "\e8d4",
        vpn-lock: "\e8d5",
        cake: "\e8d6",
        domain: "\e8d7",
        group: "\e8d8",
        group-add: "\e8d9",
        location-city: "\e8da",
        mood: "\e8db",
        "notifications": "\e8dc",
        "notifications-none": "\e8dd",
        "notifications-off": "\e8de",
        "notifications-on": "\e8df",
        "notifications-paused": "\e8e0",
        pages: "\e8e1",
        party-mode: "\e8e2",
        people: "\e8e3",
        people-outline: "\e8e4",
        person: "\e8e5",
        person-add: "\e8e6",
        person-outline: "\e8e7",
        plus-one: "\e8e8",
        poll: "\e8e9",
        publ: "\e8ea",
        school: "\e8eb",
        share: "\e8ec",
        whatshot: "\e8ed",
        check-box: "\e8ee",
        check-box-outline-blank: "\e8ef",
        radio-button-off: "\e8f0",
        radio-button-on: "\e8f1",
        star: "\e8f2",
        star-half: "\e8f3",
        star-outline: "\e8f4"

);