$icon-3d-rotation: "\e600";
$icon-accessibility: "\e601";
$icon-account-balance: "\e602";
$icon-account-balance-wallet: "\e603";
$icon-account-box: "\e604";
$icon-account-child: "\e605";
$icon-account-circle: "\e606";
$icon-add-shopping-cart: "\e607";
$icon-alarm: "\e608";
$icon-alarm-add: "\e609";
$icon-alarm-off: "\e60a";
$icon-alarm-on: "\e60b";
$icon-android: "\e60c";
$icon-announcement: "\e60d";
$icon-aspect-ratio: "\e60e";
$icon-assessment: "\e60f";
$icon-assignment: "\e610";
$icon-assignment-ind: "\e611";
$icon-assignment-late: "\e612";
$icon-assignment-return: "\e613";
$icon-assignment-returned: "\e614";
$icon-assignment-turned-in: "\e615";
$icon-autorenew: "\e616";
$icon-backup: "\e617";
$icon-book: "\e618";
$icon-bookmark: "\e619";
$icon-bookmark-outline: "\e61a";
$icon-bug-report: "\e61b";
$icon-cached: "\e61c";
$icon-class: "\e61d";
$icon-credit-card: "\e61e";
$icon-dashboard: "\e61f";
$icon-delete: "\e620";
$icon-description: "\e621";
$icon-dns: "\e622";
$icon-done: "\e623";
$icon-done-all: "\e624";
$icon-event: "\e625";
$icon-exit-to-app: "\e626";
$icon-explore: "\e627";
$icon-extension: "\e628";
$icon-face-unlock: "\e629";
$icon-favorite: "\e62a";
$icon-favorite-outline: "\e62b";
$icon-find-in-page: "\e62c";
$icon-find-replace: "\e62d";
$icon-flip-to-back: "\e62e";
$icon-flip-to-front: "\e62f";
$icon-get-app: "\e630";
$icon-grade: "\e631";
$icon-group-work: "\e632";
$icon-help: "\e633";
$icon-highlight-remove: "\e634";
$icon-history: "\e635";
$icon-home: "\e636";
$icon-https: "\e637";
$icon-info: "\e638";
$icon-info-outline: "\e639";
$icon-input: "\e63a";
$icon-invert-colors: "\e63b";
$icon-label: "\e63c";
$icon-label-outline: "\e63d";
$icon-language: "\e63e";
$icon-launch: "\e63f";
$icon-list: "\e640";
$icon-lock: "\e641";
$icon-lock-open: "\e642";
$icon-lock-outline: "\e643";
$icon-loyalty: "\e644";
$icon-markunread-mailbox: "\e645";
$icon-note-add: "\e646";
$icon-open-in-browser: "\e647";
$icon-open-in-new: "\e648";
$icon-open-with: "\e649";
$icon-pageview: "\e64a";
$icon-payment: "\e64b";
$icon-perm-camera-m: "\e64c";
$icon-perm-contact-cal: "\e64d";
$icon-perm-data-setting: "\e64e";
$icon-perm-device-info: "\e64f";
$icon-perm-identity: "\e650";
$icon-perm-media: "\e651";
$icon-perm-phone-msg: "\e652";
$icon-perm-scan-wifi: "\e653";
$icon-picture-in-picture: "\e654";
$icon-polymer: "\e655";
$icon-print: "\e656";
$icon-query-builder: "\e657";
$icon-question-answer: "\e658";
$icon-receipt: "\e659";
$icon-redeem: "\e65a";
$icon-reorder: "\e65b";
$icon-report-problem: "\e65c";
$icon-restore: "\e65d";
$icon-room: "\e65e";
$icon-schedule: "\e65f";
$icon-search: "\e660";
$icon-settings: "\e661";
$icon-settings-applications: "\e662";
$icon-settings-backup-restore: "\e663";
$icon-settings-bluetooth: "\e664";
$icon-settings-cell: "\e665";
$icon-settings-display: "\e666";
$icon-settings-ethernet: "\e667";
$icon-settings-input-antenna: "\e668";
$icon-settings-input-component: "\e669";
$icon-settings-input-composite: "\e66a";
$icon-settings-input-hdmi: "\e66b";
$icon-settings-input-svideo: "\e66c";
$icon-settings-overscan: "\e66d";
$icon-settings-phone: "\e66e";
$icon-settings-power: "\e66f";
$icon-settings-remote: "\e670";
$icon-settings-voice: "\e671";
$icon-shop: "\e672";
$icon-shop-two: "\e673";
$icon-shopping-basket: "\e674";
$icon-shopping-cart: "\e675";
$icon-speaker-notes: "\e676";
$icon-spellcheck: "\e677";
$icon-star-rate: "\e678";
$icon-stars: "\e679";
$icon-store: "\e67a";
$icon-subject: "\e67b";
$icon-supervisor-account: "\e67c";
$icon-swap-horiz: "\e67d";
$icon-swap-vert: "\e67e";
$icon-swap-vert-circle: "\e67f";
$icon-system-update-tv: "\e680";
$icon-tab: "\e681";
$icon-tab-unselected: "\e682";
$icon-theaters: "\e683";
$icon-thumb-down: "\e684";
$icon-thumb-up: "\e685";
$icon-thumbs-up-down: "\e686";
$icon-toc: "\e687";
$icon-today: "\e688";
$icon-track-changes: "\e689";
$icon-translate: "\e68a";
$icon-trending-down: "\e68b";
$icon-trending-neutral: "\e68c";
$icon-trending-up: "\e68d";
$icon-turned-in: "\e68e";
$icon-turned-in-not: "\e68f";
$icon-verified-user: "\e690";
$icon-view-agenda: "\e691";
$icon-view-array: "\e692";
$icon-view-carousel: "\e693";
$icon-view-column: "\e694";
$icon-view-day: "\e695";
$icon-view-headline: "\e696";
$icon-view-list: "\e697";
$icon-view-module: "\e698";
$icon-view-quilt: "\e699";
$icon-view-stream: "\e69a";
$icon-view-week: "\e69b";
$icon-visibility: "\e69c";
$icon-visibility-off: "\e69d";
$icon-wallet-giftcard: "\e69e";
$icon-wallet-membership: "\e69f";
$icon-wallet-travel: "\e6a0";
$icon-work: "\e6a1";
$icon-error: "\e6a2";
$icon-warning: "\e6a3";
$icon-album: "\e6a4";
$icon-av-timer: "\e6a5";
$icon-closed-caption: "\e6a6";
$icon-equalizer: "\e6a7";
$icon-explicit: "\e6a8";
$icon-fast-forward: "\e6a9";
$icon-fast-rewind: "\e6aa";
$icon-games: "\e6ab";
$icon-hearing: "\e6ac";
$icon-high-quality: "\e6ad";
$icon-loop: "\e6ae";
$icon-mic: "\e6af";
$icon-mnone: "\e6b0";
$icon-moff: "\e6b1";
$icon-movie: "\e6b2";
$icon-my-library-add: "\e6b3";
$icon-my-library-books: "\e6b4";
$icon-my-library-mus: "\e6b5";
$icon-new-releases: "\e6b6";
$icon-not-interested: "\e6b7";
$icon-pause: "\e6b8";
$icon-pause-circle-fill: "\e6b9";
$icon-pause-circle-outline: "\e6ba";
$icon-play-arrow: "\e6bb";
$icon-play-circle-fill: "\e6bc";
$icon-play-circle-outline: "\e6bd";
$icon-play-shopping-bag: "\e6be";
$icon-playlist-add: "\e6bf";
$icon-queue: "\e6c0";
$icon-queue-mus: "\e6c1";
$icon-radio: "\e6c2";
$icon-recent-actors: "\e6c3";
$icon-repeat: "\e6c4";
$icon-repeat-one: "\e6c5";
$icon-replay: "\e6c6";
$icon-shuffle: "\e6c7";
$icon-skip-next: "\e6c8";
$icon-skip-previous: "\e6c9";
$icon-snooze: "\e6ca";
$icon-stop: "\e6cb";
$icon-subtitles: "\e6cc";
$icon-surround-sound: "\e6cd";
$icon-video-collection: "\e6ce";
$icon-videocam: "\e6cf";
$icon-videocam-off: "\e6d0";
$icon-volume-down: "\e6d1";
$icon-volume-mute: "\e6d2";
$icon-volume-off: "\e6d3";
$icon-volume-up: "\e6d4";
$icon-web: "\e6d5";
$icon-business: "\e6d6";
$icon-call: "\e6d7";
$icon-call-end: "\e6d8";
$icon-call-made: "\e6d9";
$icon-call-merge: "\e6da";
$icon-call-missed: "\e6db";
$icon-call-received: "\e6dc";
$icon-call-split: "\e6dd";
$icon-chat: "\e6de";
$icon-clear-all: "\e6df";
$icon-comment: "\e6e0";
$icon-contacts: "\e6e1";
$icon-dialer-sip: "\e6e2";
$icon-dialpad: "\e6e3";
$icon-dnd-on: "\e6e4";
$icon-email: "\e6e5";
$icon-forum: "\e6e6";
$icon-import-export: "\e6e7";
$icon-invert-colors-off: "\e6e8";
$icon-invert-colors-on: "\e6e9";
$icon-live-help: "\e6ea";
$icon-location-off: "\e6eb";
$icon-location-on: "\e6ec";
$icon-message: "\e6ed";
$icon-messenger: "\e6ee";
$icon-no-sim: "\e6ef";
$icon-phone: "\e6f0";
$icon-portable-wifi-off: "\e6f1";
$icon-quick-contacts-dialer: "\e6f2";
$icon-quick-contacts-mail: "\e6f3";
$icon-ring-volume: "\e6f4";
$icon-stay-current-landscape: "\e6f5";
$icon-stay-current-portrait: "\e6f6";
$icon-stay-primary-landscape: "\e6f7";
$icon-stay-primary-portrait: "\e6f8";
$icon-swap-calls: "\e6f9";
$icon-textsms: "\e6fa";
$icon-voicemail: "\e6fb";
$icon-vpn-key: "\e6fc";
$icon-add: "\e6fd";
$icon-add-box: "\e6fe";
$icon-add-circle: "\e6ff";
$icon-add-circle-outline: "\e700";
$icon-archive: "\e701";
$icon-backspace: "\e702";
$icon-block: "\e703";
$icon-clear: "\e704";
$icon-content-copy: "\e705";
$icon-content-cut: "\e706";
$icon-content-paste: "\e707";
$icon-create: "\e708";
$icon-drafts: "\e709";
$icon-filter-list: "\e70a";
$icon-flag: "\e70b";
$icon-forward: "\e70c";
$icon-gesture: "\e70d";
$icon-inbox: "\e70e";
$icon-link: "\e70f";
$icon-mail: "\e710";
$icon-markunread: "\e711";
$icon-redo: "\e712";
$icon-remove: "\e713";
$icon-remove-circle: "\e714";
$icon-remove-circle-outline: "\e715";
$icon-reply: "\e716";
$icon-reply-all: "\e717";
$icon-report: "\e718";
$icon-save: "\e719";
$icon-select-all: "\e71a";
$icon-send: "\e71b";
$icon-sort: "\e71c";
$icon-text-format: "\e71d";
$icon-undo: "\e71e";
$icon-access-alarm: "\e71f";
$icon-access-alarms: "\e720";
$icon-access-time: "\e721";
$icon-add-alarm: "\e722";
$icon-airplanemode-off: "\e723";
$icon-airplanemode-on: "\e724";
$icon-battery-20: "\e725";
$icon-battery-30: "\e726";
$icon-battery-50: "\e727";
$icon-battery-60: "\e728";
$icon-battery-80: "\e729";
$icon-battery-90: "\e72a";
$icon-battery-alert: "\e72b";
$icon-battery-charging-20: "\e72c";
$icon-battery-charging-30: "\e72d";
$icon-battery-charging-50: "\e72e";
$icon-battery-charging-60: "\e72f";
$icon-battery-charging-80: "\e730";
$icon-battery-charging-90: "\e731";
$icon-battery-charging-full: "\e732";
$icon-battery-full: "\e733";
$icon-battery-std: "\e734";
$icon-battery-unknown: "\e735";
$icon-bluetooth: "\e736";
$icon-bluetooth-connected: "\e737";
$icon-bluetooth-disabled: "\e738";
$icon-bluetooth-searching: "\e739";
$icon-brightness-auto: "\e73a";
$icon-brightness-high: "\e73b";
$icon-brightness-low: "\e73c";
$icon-brightness-medium: "\e73d";
$icon-data-usage: "\e73e";
$icon-developer-mode: "\e73f";
$icon-devices: "\e740";
$icon-dvr: "\e741";
$icon-gps-fixed: "\e742";
$icon-gps-not-fixed: "\e743";
$icon-gps-off: "\e744";
$icon-location-disabled: "\e745";
$icon-location-searching: "\e746";
$icon-multitrack-audio: "\e747";
$icon-network-cell: "\e748";
$icon-network-wifi: "\e749";
$icon-nfc: "\e74a";
$icon-now-wallpaper: "\e74b";
$icon-now-widgets: "\e74c";
$icon-screen-lock-landscape: "\e74d";
$icon-screen-lock-portrait: "\e74e";
$icon-screen-lock-rotation: "\e74f";
$icon-screen-rotation: "\e750";
$icon-sd-storage: "\e751";
$icon-settings-system-daydream: "\e752";
$icon-signal-cellular-0-bar: "\e753";
$icon-signal-cellular-1-bar: "\e754";
$icon-signal-cellular-2-bar: "\e755";
$icon-signal-cellular-3-bar: "\e756";
$icon-signal-cellular-4-bar: "\e757";
$icon-signal-cellular-connected-no-internet-0-bar: "\e758";
$icon-signal-cellular-connected-no-internet-1-bar: "\e759";
$icon-signal-cellular-connected-no-internet-2-bar: "\e75a";
$icon-signal-cellular-connected-no-internet-3-bar: "\e75b";
$icon-signal-cellular-connected-no-internet-4-bar: "\e75c";
$icon-signal-cellular-no-sim: "\e75d";
$icon-signal-cellular-null: "\e75e";
$icon-signal-cellular-off: "\e75f";
$icon-signal-wifi-0-bar: "\e760";
$icon-signal-wifi-1-bar: "\e761";
$icon-signal-wifi-2-bar: "\e762";
$icon-signal-wifi-3-bar: "\e763";
$icon-signal-wifi-4-bar: "\e764";
$icon-signal-wifi-off: "\e765";
$icon-signal-wifi-statusbar-1-bar: "\e766";
$icon-signal-wifi-statusbar-2-bar: "\e767";
$icon-signal-wifi-statusbar-3-bar: "\e768";
$icon-signal-wifi-statusbar-4-bar: "\e769";
$icon-signal-wifi-statusbar-connected-no-internet-1: "\e76a";
$icon-signal-wifi-statusbar-connected-no-internet-2: "\e76b";
$icon-signal-wifi-statusbar-connected-no-internet-3: "\e76c";
$icon-signal-wifi-statusbar-connected-no-internet-4: "\e76d";
$icon-signal-wifi-statusbar-connected-no-internet: "\e76e";
$icon-signal-wifi-statusbar-not-connected: "\e76f";
$icon-signal-wifi-statusbar-null: "\e770";
$icon-storage: "\e771";
$icon-usb: "\e772";
$icon-wifi-lock: "\e773";
$icon-wifi-tethering: "\e774";
$icon-attach-file: "\e775";
$icon-attach-money: "\e776";
$icon-border-all: "\e777";
$icon-border-bottom: "\e778";
$icon-border-clear: "\e779";
$icon-border-color: "\e77a";
$icon-border-horizontal: "\e77b";
$icon-border-inner: "\e77c";
$icon-border-left: "\e77d";
$icon-border-outer: "\e77e";
$icon-border-right: "\e77f";
$icon-border-style: "\e780";
$icon-border-top: "\e781";
$icon-border-vertical: "\e782";
$icon-format-align-center: "\e783";
$icon-format-align-justify: "\e784";
$icon-format-align-left: "\e785";
$icon-format-align-right: "\e786";
$icon-format-bold: "\e787";
$icon-format-clear: "\e788";
$icon-format-color-fill: "\e789";
$icon-format-color-reset: "\e78a";
$icon-format-color-text: "\e78b";
$icon-format-indent-decrease: "\e78c";
$icon-format-indent-increase: "\e78d";
$icon-format-ital: "\e78e";
$icon-format-line-spacing: "\e78f";
$icon-format-list-bulleted: "\e790";
$icon-format-list-numbered: "\e791";
$icon-format-paint: "\e792";
$icon-format-quote: "\e793";
$icon-format-size: "\e794";
$icon-format-strikethrough: "\e795";
$icon-format-textdirection-l-to-r: "\e796";
$icon-format-textdirection-r-to-l: "\e797";
$icon-format-underline: "\e798";
$icon-functions: "\e799";
$icon-insert-chart: "\e79a";
$icon-insert-comment: "\e79b";
$icon-insert-drive-file: "\e79c";
$icon-insert-emoticon: "\e79d";
$icon-insert-invitation: "\e79e";
$icon-insert-link: "\e79f";
$icon-insert-photo: "\e7a0";
$icon-merge-type: "\e7a1";
$icon-mode-comment: "\e7a2";
$icon-mode-edit: "\e7a3";
$icon-publish: "\e7a4";
$icon-vertical-align-bottom: "\e7a5";
$icon-vertical-align-center: "\e7a6";
$icon-vertical-align-top: "\e7a7";
$icon-wrap-text: "\e7a8";
$icon-attachment: "\e7a9";
$icon-cloud: "\e7aa";
$icon-cloud-circle: "\e7ab";
$icon-cloud-done: "\e7ac";
$icon-cloud-download: "\e7ad";
$icon-cloud-off: "\e7ae";
$icon-cloud-queue: "\e7af";
$icon-cloud-upload: "\e7b0";
$icon-file-download: "\e7b1";
$icon-file-upload: "\e7b2";
$icon-folder: "\e7b3";
$icon-folder-open: "\e7b4";
$icon-folder-shared: "\e7b5";
$icon-cast: "\e7b6";
$icon-cast-connected: "\e7b7";
$icon-computer: "\e7b8";
$icon-desktop-mac: "\e7b9";
$icon-desktop-windows: "\e7ba";
$icon-dock: "\e7bb";
$icon-gamepad: "\e7bc";
$icon-headset: "\e7bd";
$icon-headset-m: "\e7be";
$icon-keyboard: "\e7bf";
$icon-keyboard-alt: "\e7c0";
$icon-keyboard-arrow-down: "\e7c1";
$icon-keyboard-arrow-left: "\e7c2";
$icon-keyboard-arrow-right: "\e7c3";
$icon-keyboard-arrow-up: "\e7c4";
$icon-keyboard-backspace: "\e7c5";
$icon-keyboard-capslock: "\e7c6";
$icon-keyboard-control: "\e7c7";
$icon-keyboard-hide: "\e7c8";
$icon-keyboard-return: "\e7c9";
$icon-keyboard-tab: "\e7ca";
$icon-keyboard-voice: "\e7cb";
$icon-laptop: "\e7cc";
$icon-laptop-chromebook: "\e7cd";
$icon-laptop-mac: "\e7ce";
$icon-laptop-windows: "\e7cf";
$icon-memory: "\e7d0";
$icon-mouse: "\e7d1";
$icon-phone-android: "\e7d2";
$icon-phone-iphone: "\e7d3";
$icon-phonelink: "\e7d4";
$icon-phonelink-off: "\e7d5";
$icon-security: "\e7d6";
$icon-sim-card: "\e7d7";
$icon-smartphone: "\e7d8";
$icon-speaker: "\e7d9";
$icon-tablet: "\e7da";
$icon-tablet-android: "\e7db";
$icon-tablet-mac: "\e7dc";
$icon-tv: "\e7dd";
$icon-watch: "\e7de";
$icon-add-to-photos: "\e7df";
$icon-adjust: "\e7e0";
$icon-assistant-photo: "\e7e1";
$icon-audiotrack: "\e7e2";
$icon-blur-circular: "\e7e3";
$icon-blur-linear: "\e7e4";
$icon-blur-off: "\e7e5";
$icon-blur-on: "\e7e6";
$icon-brightness-1: "\e7e7";
$icon-brightness-2: "\e7e8";
$icon-brightness-3: "\e7e9";
$icon-brightness-4: "\e7ea";
$icon-brightness-5: "\e7eb";
$icon-brightness-6: "\e7ec";
$icon-brightness-7: "\e7ed";
$icon-brush: "\e7ee";
$icon-camera: "\e7ef";
$icon-camera-alt: "\e7f0";
$icon-camera-front: "\e7f1";
$icon-camera-rear: "\e7f2";
$icon-camera-roll: "\e7f3";
$icon-center-focus-strong: "\e7f4";
$icon-center-focus-weak: "\e7f5";
$icon-collections: "\e7f6";
$icon-color-lens: "\e7f7";
$icon-colorize: "\e7f8";
$icon-compare: "\e7f9";
$icon-control-point: "\e7fa";
$icon-control-point-duplicate: "\e7fb";
$icon-crop-3-2: "\e7fc";
$icon-crop-5-4: "\e7fd";
$icon-crop-7-5: "\e7fe";
$icon-crop-16-9: "\e7ff";
$icon-crop: "\e800";
$icon-crop-din: "\e801";
$icon-crop-free: "\e802";
$icon-crop-landscape: "\e803";
$icon-crop-original: "\e804";
$icon-crop-portrait: "\e805";
$icon-crop-square: "\e806";
$icon-dehaze: "\e807";
$icon-details: "\e808";
$icon-edit: "\e809";
$icon-exposure: "\e80a";
$icon-exposure-minus-1: "\e80b";
$icon-exposure-minus-2: "\e80c";
$icon-exposure-plus-1: "\e80d";
$icon-exposure-plus-2: "\e80e";
$icon-exposure-zero: "\e80f";
$icon-filter-1: "\e810";
$icon-filter-2: "\e811";
$icon-filter-3: "\e812";
$icon-filter-4: "\e813";
$icon-filter-5: "\e814";
$icon-filter-6: "\e815";
$icon-filter-7: "\e816";
$icon-filter-8: "\e817";
$icon-filter-9: "\e818";
$icon-filter-9-plus: "\e819";
$icon-filter: "\e81a";
$icon-filter-b-and-w: "\e81b";
$icon-filter-center-focus: "\e81c";
$icon-filter-drama: "\e81d";
$icon-filter-frames: "\e81e";
$icon-filter-hdr: "\e81f";
$icon-filter-none: "\e820";
$icon-filter-tilt-shift: "\e821";
$icon-filter-vintage: "\e822";
$icon-flare: "\e823";
$icon-flash-auto: "\e824";
$icon-flash-off: "\e825";
$icon-flash-on: "\e826";
$icon-flip: "\e827";
$icon-gradient: "\e828";
$icon-grain: "\e829";
$icon-grid-off: "\e82a";
$icon-grid-on: "\e82b";
$icon-hdr-off: "\e82c";
$icon-hdr-on: "\e82d";
$icon-hdr-strong: "\e82e";
$icon-hdr-weak: "\e82f";
$icon-healing: "\e830";
$icon-image: "\e831";
$icon-image-aspect-ratio: "\e832";
$icon-iso: "\e833";
$icon-landscape: "\e834";
$icon-leak-add: "\e835";
$icon-leak-remove: "\e836";
$icon-lens: "\e837";
$icon-looks-3: "\e838";
$icon-looks-4: "\e839";
$icon-looks-5: "\e83a";
$icon-looks-6: "\e83b";
$icon-looks: "\e83c";
$icon-looks-one: "\e83d";
$icon-looks-two: "\e83e";
$icon-loupe: "\e83f";
$icon-movie-creation: "\e840";
$icon-nature: "\e841";
$icon-nature-people: "\e842";
$icon-navigate-before: "\e843";
$icon-navigate-next: "\e844";
$icon-palette: "\e845";
$icon-panorama: "\e846";
$icon-panorama-fisheye: "\e847";
$icon-panorama-horizontal: "\e848";
$icon-panorama-vertical: "\e849";
$icon-panorama-wide-angle: "\e84a";
$icon-photo: "\e84b";
$icon-photo-album: "\e84c";
$icon-photo-camera: "\e84d";
$icon-photo-library: "\e84e";
$icon-portrait: "\e84f";
$icon-remove-red-eye: "\e850";
$icon-rotate-left: "\e851";
$icon-rotate-right: "\e852";
$icon-slideshow: "\e853";
$icon-straighten: "\e854";
$icon-style: "\e855";
$icon-switch-camera: "\e856";
$icon-switch-video: "\e857";
$icon-tag-faces: "\e858";
$icon-texture: "\e859";
$icon-timelapse: "\e85a";
$icon-timer-3: "\e85b";
$icon-timer-10: "\e85c";
$icon-timer: "\e85d";
$icon-timer-auto: "\e85e";
$icon-timer-off: "\e85f";
$icon-tonality: "\e860";
$icon-transform: "\e861";
$icon-tune: "\e862";
$icon-wb-auto: "\e863";
$icon-wb-cloudy: "\e864";
$icon-wb-incandescent: "\e865";
$icon-wb-irradescent: "\e866";
$icon-wb-sunny: "\e867";
$icon-beenhere: "\e868";
$icon-directions: "\e869";
$icon-directions-bike: "\e86a";
$icon-directions-bus: "\e86b";
$icon-directions-car: "\e86c";
$icon-directions-ferry: "\e86d";
$icon-directions-subway: "\e86e";
$icon-directions-train: "\e86f";
$icon-directions-transit: "\e870";
$icon-directions-walk: "\e871";
$icon-flight: "\e872";
$icon-hotel: "\e873";
$icon-layers: "\e874";
$icon-layers-clear: "\e875";
$icon-local-airport: "\e876";
$icon-local-atm: "\e877";
$icon-local-attraction: "\e878";
$icon-local-bar: "\e879";
$icon-local-cafe: "\e87a";
$icon-local-car-wash: "\e87b";
$icon-local-convenience-store: "\e87c";
$icon-local-drink: "\e87d";
$icon-local-florist: "\e87e";
$icon-local-gas-station: "\e87f";
$icon-local-grocery-store: "\e880";
$icon-local-hospital: "\e881";
$icon-local-hotel: "\e882";
$icon-local-laundry-service: "\e883";
$icon-local-library: "\e884";
$icon-local-mall: "\e885";
$icon-local-movies: "\e886";
$icon-local-offer: "\e887";
$icon-local-parking: "\e888";
$icon-local-pharmacy: "\e889";
$icon-local-phone: "\e88a";
$icon-local-pizza: "\e88b";
$icon-local-play: "\e88c";
$icon-local-post-office: "\e88d";
$icon-local-print-shop: "\e88e";
$icon-local-restaurant: "\e88f";
$icon-local-see: "\e890";
$icon-local-shipping: "\e891";
$icon-local-taxi: "\e892";
$icon-location-history: "\e893";
$icon-map: "\e894";
$icon-my-location: "\e895";
$icon-navigation: "\e896";
$icon-pin-drop: "\e897";
$icon-place: "\e898";
$icon-rate-review: "\e899";
$icon-restaurant-menu: "\e89a";
$icon-satellite: "\e89b";
$icon-store-mall-directory: "\e89c";
$icon-terrain: "\e89d";
$icon-traff: "\e89e";
$icon-apps: "\e89f";
$icon-arrow-back: "\e8a0";
$icon-arrow-drop-down: "\e8a1";
$icon-arrow-drop-down-circle: "\e8a2";
$icon-arrow-drop-up: "\e8a3";
$icon-arrow-forward: "\e8a4";
$icon-cancel: "\e8a5";
$icon-check: "\e8a6";
$icon-chevron-left: "\e8a7";
$icon-chevron-right: "\e8a8";
$icon-close: "\e8a9";
$icon-expand-less: "\e8aa";
$icon-expand-more: "\e8ab";
$icon-fullscreen: "\e8ac";
$icon-fullscreen-exit: "\e8ad";
$icon-menu: "\e8ae";
$icon-more-horiz: "\e8af";
$icon-more-vert: "\e8b0";
$icon-refresh: "\e8b1";
$icon-unfold-less: "\e8b2";
$icon-unfold-more: "\e8b3";
$icon-adb: "\e8b4";
$icon-bluetooth-audio: "\e8b5";
$icon-disc-full: "\e8b6";
$icon-dnd-forwardslash: "\e8b7";
$icon-do-not-disturb: "\e8b8";
$icon-drive-eta: "\e8b9";
$icon-event-available: "\e8ba";
$icon-event-busy: "\e8bb";
$icon-event-note: "\e8bc";
$icon-folder-special: "\e8bd";
$icon-mms: "\e8be";
$icon-more: "\e8bf";
$icon-network-locked: "\e8c0";
$icon-phone-bluetooth-speaker: "\e8c1";
$icon-phone-forwarded: "\e8c2";
$icon-phone-in-talk: "\e8c3";
$icon-phone-locked: "\e8c4";
$icon-phone-missed: "\e8c5";
$icon-phone-paused: "\e8c6";
$icon-play-download: "\e8c7";
$icon-play-install: "\e8c8";
$icon-sd-card: "\e8c9";
$icon-sim-card-alert: "\e8ca";
$icon-sms: "\e8cb";
$icon-sms-failed: "\e8cc";
$icon-sync: "\e8cd";
$icon-sync-disabled: "\e8ce";
$icon-sync-problem: "\e8cf";
$icon-system-update: "\e8d0";
$icon-tap-and-play: "\e8d1";
$icon-time-to-leave: "\e8d2";
$icon-vibration: "\e8d3";
$icon-voice-chat: "\e8d4";
$icon-vpn-lock: "\e8d5";
$icon-cake: "\e8d6";
$icon-domain: "\e8d7";
$icon-group: "\e8d8";
$icon-group-add: "\e8d9";
$icon-location-city: "\e8da";
$icon-mood: "\e8db";
$icon-notifications: "\e8dc";
$icon-notifications-none: "\e8dd";
$icon-notifications-off: "\e8de";
$icon-notifications-on: "\e8df";
$icon-notifications-paused: "\e8e0";
$icon-pages: "\e8e1";
$icon-party-mode: "\e8e2";
$icon-people: "\e8e3";
$icon-people-outline: "\e8e4";
$icon-person: "\e8e5";
$icon-person-add: "\e8e6";
$icon-person-outline: "\e8e7";
$icon-plus-one: "\e8e8";
$icon-poll: "\e8e9";
$icon-publ: "\e8ea";
$icon-school: "\e8eb";
$icon-share: "\e8ec";
$icon-whatshot: "\e8ed";
$icon-check-box: "\e8ee";
$icon-check-box-outline-blank: "\e8ef";
$icon-radio-button-off: "\e8f0";
$icon-radio-button-on: "\e8f1";
$icon-star: "\e8f2";
$icon-star-half: "\e8f3";
$icon-star-outline: "\e8f4";
